<h3>Logged in user
    <small ng-show-auth>{{user.email}}</small>
    <small ng-hide-auth>not logged in</small>
</h3>

<div ng-hide-auth class="well text-right">Only logged in users can administer messages. <br/><em>Do not hesitate to <a
        href="#/account">login</a></em></div>
<form role="form" ng-show-auth>
    <div class="form-group">
        <label for="newMessage">Message</label>
        <input id="newMessage" class="form-control" placeholder="Message..." ng-model="newMessage"/>
    </div>
    <button class="btn btn-primary" type="submit" ng-click="addMessage(newMessage);newMessage = null;">send</button>
</form>

<div class="row marketing" id="messages" ng-show="messages.length">
    <blockquote ng-repeat="message in messages | reverse">
        <a class="pull-right" ng-click="removeMessage(message)" ng-show-auth>
            <span class="glyphicon glyphicon-minus"></span>
        </a>

        <p class="list-group-item-text">{{message.text}}</p>
        <footer>{{message.user}}</footer>
    </blockquote>
    <p class="alert alert-danger" ng-show="err">{{err}}</p>
</div>

